.chart-t{
    font-size: 13px;
    height: auto;
    flex-direction:row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 15px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px;
    background-color: whitesmoke;
}

@media screen and (max-width:600px) {
    html {
        font-size: 15px;
    }
    .chart-t{
        flex-direction: column;
        height: auto;
        width: auto;
    }
}

@media screen and (max-width:500px) {
    html {
        font-size: 12px;
    }

    .chart-t {
        flex-direction: column;
        height: auto;
        width: auto;
    }

}