body {
    height: 1000px;
}

.container-t {
    display: flex;
    width: 800px;
    max-width: 900px;
    height: auto;
}


.container-dash1 {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 5px rgb(0, 0, 0, .1);
    transition: all 1s ease;
    padding: 15px;
    background-color: rgba(255, 255, 255, 1);
    border: solid 1px black
}

.container-dash1 img {
    width: 250px;
}


.container-dash2 {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 5px rgb(0, 0, 0, .1);
    transition: all 1s ease;
    padding: 15px;
    background-color: rgba(71, 139, 202, 0.9);
    border: solid 1px black
}

/* Responsive*/

@media screen and (max-width:750px) {
    html {
        font-size: 15px;
    }

    .container-t {
        flex-direction: column;
        justify-content: center;
    }

    .container-dash1 img {
        width: 150px;
    }

    .container-dash1 {
        width: auto;
    }

    .container-dash2 {
        width: auto;
    }

}

@media screen and (max-width:400px) {
    html {
        font-size: 12px;
    }

    .container-t {
        flex-direction: column;
        height: auto;
        width: 100%;
    }

}