
.container-form {
    display: flex;
    box-shadow: 0 5px 5px rgb(0, 0, 0, .1);
    height: 500px;
    max-width: 900px;
    transition: all 1s ease;
    border-radius: 20px;
}

.information {
    width: 40%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: rgba(71, 139, 202, 0.4);
    border-radius: 20px 0 0 20px;
}

.form-information {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0 20px 20px 0;
}

form input:focus {
    border: none;
    outline: none;
}

/* Responsive*/

@media screen and (max-width:750px){
    html{
        font-size: 15px;
    }
}

@media screen and (max-width:580px){
    html{
        font-size: 12px;
    }
    .container-form{
    
      margin: 20px;
      flex-direction: column;
      justify-content: center;

    }
    .information{
        width: 100%;
        border-radius: 20px 20px 0 0;
    }
    .form-information{
        width: 100%;
        border-radius: 0 0 20px 20px;
    }
}